@import 'reset';
@import 'base';
@import 'palette';

// Components
@import 'componensts/notification/index';

.row{
    display: flex;
    
    .column2{
        margin-left: 30px;
    }
}


.row1{
    
    .column1{
        background-color: $color-circle-center-1;
        &::before{
            content: '\f12a';
            color: $color-1;
            background-color: $color-circle-center-1;
            border: solid $color-circle-border-1 7px;
        }
    }
    .column2{
        background-color: $color-circle-center-2;
        &::before{
            content: '\f00c';
            color: $color-2;
            background-color: $color-circle-center-2;
            border: solid $color-circle-border-2 7px;
        }
    }
}

.row2{
    .column1{
        background-color: $color-circle-center-3;
        &::before{
            content: '\f00d';
            color: $color-3;
            background-color: $color-circle-center-3;
            border: solid $color-circle-border-3 7px;
        }
    }
    .column2{
        background-color: $color-circle-center-4;
        &::before{
            content: '\f0e7';
            color: $color-4;
            background-color: $color-circle-center-4;
            border: solid $color-circle-border-4 7px;
        }
    }
}

.fullrow{
    background-color: $color-circle-center-5;
    &::before{
        content: '\f129';
        color: $color-5;
        background-color: $color-circle-center-5;
        border: solid $color-circle-border-5 7px;
    }
    p{
        margin-right: 24px;
    }
}
