$color-container-border: #E2E6E7;
$color-circle-center-1: #FFC12D;
$color-circle-border-1: #F9B718;
$color-1: #A47503;
$color-title: #2C3E50;
$color-text: #2C3E50;
$color-exit: #CFD2D3;
$color-2: #558502;
$color-circle-center-2: #97E411;
$color-circle-border-2: #7BC200;
$color-3: #D52E13;
$color-circle-center-3: #FD7761;
$color-circle-border-3: #F55C43;
$color-4: #0787D4;
$color-circle-center-4: #6FD9FC;
$color-circle-border-4: #47B4F6;
$color-5: #5B568E;
$color-circle-center-5: #A39CDC;
$color-circle-border-5: #8781BD;